BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
ColumnLimit: 160
EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: Always
IndentWidth: 4
InsertNewlineAtEOF: true
TabWidth: 4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^\"[[:alnum:]\_]+\.(h|hpp)\"'
    Priority: 0
  - Regex: '^\"[[:alnum:]\_\/]+\.(h|hpp)\"'
    Priority: 1
  - Regex: '^\<wsgs\/[[:alnum:]\_\/]+\.(h|hpp)\>'
    Priority: 2
  - Regex: '^\<windows\.h\>'
    Priority: 3
    SortPriority: 1
    CaseSensitive: false
  - Regex: '^\<.*\.(h|hpp|hxx)\>'
    Priority: 3
    SortPriority: 2
  - Regex: '^\<[[:alnum:]\_]+\>'
    Priority: 4
